<div class="addContainer">
  <div class="modalHeader">
    <div class="modalTitle">
      {{ dialogTitle }}
    </div>
    <button mat-icon-button mat-dialog-close class="modal-close-button" aria-label="Close dialog" type="button">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="trainingTypeForm" (ngSubmit)="submit()">
      <div class="row">
        <!-- Training Type ID -->
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Training Type ID</mat-label>
            <input matInput formControlName="trainingTypeId" readonly>
          </mat-form-field>
        </div>

        <!-- Training Type Name -->
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Training Type Name</mat-label>
            <input matInput formControlName="trainingTypeName" required>
            @if (trainingTypeForm.get('trainingTypeName')?.hasError('required')) {
            <mat-error>
              Training Type Name is required
            </mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <!-- Category -->
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Category</mat-label>
            <mat-select formControlName="category" required>
              <mat-option value="Soft Skills">Soft Skills</mat-option>
              <mat-option value="Technical">Technical</mat-option>
              <mat-option value="Compliance">Compliance</mat-option>
              <mat-option value="Sales">Sales</mat-option>
              <mat-option value="Management">Management</mat-option>
              <mat-option value="Customer Service">Customer Service</mat-option>
              <mat-option value="Project Management">Project Management</mat-option>
              <mat-option value="Team Development">Team Development</mat-option>
            </mat-select>
            @if (trainingTypeForm.get('category')?.hasError('required')) {
            <mat-error>
              Category is required
            </mat-error>
            }
          </mat-form-field>
        </div>

        <!-- Duration -->
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Duration </mat-label>
            <input matInput formControlName="duration" required>
            @if (trainingTypeForm.get('duration')?.hasError('required')) {
            <mat-error>
              Duration is required
            </mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <!-- Delivery Method -->
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Delivery Method</mat-label>
            <mat-select formControlName="deliveryMethod" required>
              <mat-option value="In-person">In-person</mat-option>
              <mat-option value="Online">Online</mat-option>
              <mat-option value="Hybrid">Hybrid</mat-option>
            </mat-select>
            @if (trainingTypeForm.get('deliveryMethod')?.hasError('required')) {
            <mat-error>
              Delivery Method is required
            </mat-error>
            }
          </mat-form-field>
        </div>

        <!-- Target Audience -->
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Target Audience</mat-label>
            <input matInput formControlName="targetAudience">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <!-- Status -->
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status" required>
              <mat-option value="Active">Active</mat-option>
              <mat-option value="Inactive">Inactive</mat-option>
            </mat-select>
            @if (trainingTypeForm.get('status')?.hasError('required')) {
            <mat-error>
              Status is required
            </mat-error>
            }
          </mat-form-field>
        </div>

        <!-- Is Mandatory -->
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Is Mandatory</mat-label>
            <mat-select formControlName="isMandatory" required>
              <mat-option value="Yes">Yes</mat-option>
              <mat-option value="No">No</mat-option>
            </mat-select>
            @if (trainingTypeForm.get('isMandatory')?.hasError('required')) {
            <mat-error>
              This field is required
            </mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <!-- Cost -->
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Cost (in USD)</mat-label>
            <input matInput type="number" formControlName="cost" required>
            @if (trainingTypeForm.get('cost')?.hasError('required')) {
            <mat-error>
              Cost is required
            </mat-error>
            }
            @if (trainingTypeForm.get('cost')?.hasError('min')) {
            <mat-error>
              Cost must be greater than or equal to 0
            </mat-error>
            }
          </mat-form-field>
        </div>

        <!-- Certification -->
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Certification</mat-label>
            <input matInput formControlName="certification">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <!-- Description -->
        <div class="col-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
          </mat-form-field>
        </div>
      </div>


      <div class="row">
        <div class="col-12">
          <div class="example-button-row">
            <button mat-flat-button class="formSubmitBtn" [disabled]="!trainingTypeForm.valid"
              type="submit">Save</button>
            <button mat-flat-button mat-dialog-close class="formCancelBtn" tabindex="-1">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>