<div class="addContainer">
  <div class="modalHeader">
    <div class="avatarDetails">
      <div class="modalTitle">
        {{dialogTitle}}
      </div>
    </div>
    <button mat-icon-button mat-dialog-close class="modal-close-button" aria-label="Close dialog" type="button">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="paymentForm" (ngSubmit)="submit()">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Client Name</mat-label>
            <input matInput formControlName="client_name" required>
            <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>face</mat-icon>
            @if (paymentForm.get('client_name')?.hasError('required')) {
            <mat-error>
              Client Name is required
            </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Invoice ID</mat-label>
            <input matInput formControlName="invoice_id" required>
            @if (paymentForm.get('invoice_id')?.hasError('required')) {
            <mat-error>
              Invoice ID is required
            </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Payment Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="payment_date" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            @if (paymentForm.get('payment_date')?.hasError('required')) {
            <mat-error>
              Please select a date
            </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Payment Amount</mat-label>
            <input matInput formControlName="payment_amount" required>
            <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>attach_money</mat-icon>
            @if (paymentForm.get('payment_amount')?.hasError('required')) {
            <mat-error>
              Payment Amount is required
            </mat-error>
            }
            @if (paymentForm.get('payment_amount')?.hasError('pattern')) {
            <mat-error>
              Must be a valid amount
            </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Payment Method</mat-label>
            <input matInput formControlName="payment_method" required>
            @if (paymentForm.get('payment_method')?.hasError('required')) {
            <mat-error>
              Payment Method is required
            </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Transaction ID</mat-label>
            <input matInput formControlName="transaction_id">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Payment Status</mat-label>
            <input matInput formControlName="payment_status" required>
            @if (paymentForm.get('payment_status')?.hasError('required')) {
            <mat-error>
              Payment Status is required
            </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Currency</mat-label>
            <input matInput formControlName="currency" required>
            @if (paymentForm.get('currency')?.hasError('required')) {
            <mat-error>
              Currency is required
            </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button mat-flat-button class="formSubmitBtn" [disabled]="!paymentForm.valid" type="submit">Save</button>
            <button mat-flat-button mat-dialog-close class="formCancelBtn" tabindex="-1">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>