<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Dashboad 2'" [items]="['Home']" [active_item]="'Dashboad 2'"></app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-xl-3 col-lg-6">
        <app-info-box1 [cardClass]="'l-bg-green-dark'" [iconClass]="'fa fa-briefcase'" [title]="'New Projects'"
          [value]="102" [progressValue]="40" [progressClass]="'orange-progress'" [percentageChange]="10">
        </app-info-box1>
      </div>

      <div class="col-xl-3 col-lg-6">
        <app-info-box1 [cardClass]="'l-bg-cyan-dark'" [iconClass]="'fas fa-users'" [title]="'New Customers'"
          [value]="154" [progressValue]="40" [progressClass]="'purple-progress'" [percentageChange]="4">
        </app-info-box1>
      </div>

      <div class="col-xl-3 col-lg-6">
        <app-info-box1 [cardClass]="'l-bg-purple-dark'" [iconClass]="'fa fa-globe'" [title]="'Inquiry'" [value]="524"
          [progressValue]="40" [progressClass]="'green-progress'" [percentageChange]="23">
        </app-info-box1>
      </div>

      <div class="col-xl-3 col-lg-6">
        <app-info-box1 [cardClass]="'l-bg-orange-dark'" [iconClass]="'fa fa-money-bill-alt'" [title]="'Earning'"
          [value]="'$2,453'" [progressValue]="40" [progressClass]="'sky-progress'" [percentageChange]="-6">
        </app-info-box1>
      </div>
    </div>
    <div class="row clearfix">
      <!-- Bar chart with line -->
      <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Employee Performance</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div id="chart">
              <apx-chart [series]="lineChartOptions.series!" [chart]="lineChartOptions.chart!"
                [xaxis]="lineChartOptions.xaxis!" [stroke]="lineChartOptions.stroke!"
                [colors]="lineChartOptions.colors!" [dataLabels]="lineChartOptions.dataLabels!"
                [legend]="lineChartOptions.legend!" [tooltip]="lineChartOptions.tooltip!"
                [markers]="lineChartOptions.markers!" [grid]="lineChartOptions.grid!" [yaxis]="lineChartOptions.yaxis!"
                [title]="lineChartOptions.title!" [fill]="lineChartOptions.fill!">
              </apx-chart>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Country Wise Clients</h2>
          </div>
          <div class="body">
            <div id="chart">
              <apx-chart [series]="pieChartOptions.series2!" [chart]="pieChartOptions.chart!"
                [labels]="pieChartOptions.labels!" [responsive]="pieChartOptions.responsive!"
                [dataLabels]="pieChartOptions.dataLabels!" [legend]="pieChartOptions.legend!" class="apex-pie-center">
              </apx-chart>
            </div>
            <div class="table-responsive m-t-15">
              <table class="table align-items-center">
                <tbody>
                  <tr>
                    <td><i class="fa fa-circle col-cyan msr-2"></i> India</td>
                    <td>23</td>
                    <td class="col-green">+32%</td>
                  </tr>
                  <tr>
                    <td><i class="fa fa-circle col-blue msr-2"></i>USA</td>
                    <td>32</td>
                    <td class="col-green">+12%</td>
                  </tr>
                  <tr>
                    <td><i class="fa fa-circle col-orange msr-2"></i>Shrilanka</td>
                    <td>12</td>
                    <td class="col-orange">-12%</td>
                  </tr>
                  <tr>
                    <td><i class="fa fa-circle col-green msr-2"></i>Australia</td>
                    <td>32</td>
                    <td class="col-green">+3%</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <mat-card>
          <mat-card-header class="header-style">
            <mat-card-title>Recent Comments</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <ng-scrollbar style="height: 380px" visibility="hover">
              <app-recent-comments [comments]="comments"></app-recent-comments>
            </ng-scrollbar>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Project Status</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <ng-scrollbar style="height: 380px" visibility="hover">
              <app-progress-table [subjects]="subjects"></app-progress-table>
            </ng-scrollbar>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Earning Source</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <ng-scrollbar style="height: 380px" visibility="hover">
              <div class="totalEarning">
                <h3>$90,808</h3>
              </div>
              <app-earning-source [earningSources]="sources"></app-earning-source>
            </ng-scrollbar>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <mat-card>
          <mat-card-header class="header-style">
            <mat-card-title>Leave Requests</mat-card-title>
            <a mat-button color="primary" href="#" (click)="$event.preventDefault();">View All</a>
          </mat-card-header>
          <mat-card-content>
            <ng-scrollbar style="height: 400px" visibility="hover">
              <app-table-card [dataSource]="leaveRequestData" [columnDefinitions]="leaveRequestColumn"></app-table-card>
            </ng-scrollbar>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</section>