<section class="content">
  <div class="content-block">
    <div class="block-header">
      <app-breadcrumb [title]="title" [items]="['Accueil']" [active_item]="title"></app-breadcrumb>
    </div>

    <!-- Indicateur chargement/erreur -->
    <div *ngIf="isLoading" class="loading-indicator">
      <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
      <p>Chargement des données...</p>
    </div>
    <div *ngIf="errorMessage && !isLoading" class="error-message">
      <mat-icon color="warn">error_outline</mat-icon>
      <span>{{ errorMessage }}</span>
      <button mat-icon-button (click)="loadDashboardData()" matTooltip="Réessayer"><mat-icon>refresh</mat-icon></button>
    </div>

    <!-- Contenu principal -->
    <div *ngIf="!isLoading">
      <!-- Cartes Statistiques (Utilise les données calculées) -->
      <div class="row">
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12"> <app-info-box1 cardClass="l-bg-cyan-dark" iconClass="fas fa-users" title="Employés Total" [value]="totalEmployees" ></app-info-box1> </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12"> <app-info-box1 cardClass="l-bg-purple-dark" iconClass="fas fa-building" title="Départements" [value]="totalDepartments" ></app-info-box1> </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12"> <app-info-box1 cardClass="l-bg-orange-dark" iconClass="fas fa-calendar-alt" title="Congés en Attente" [value]="totalPendingLeaves" ></app-info-box1> </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12"> <app-info-box1 cardClass="l-bg-green-dark" iconClass="fas fa-clock" title="Heures Travaillées" [value]="totalTimeEntriesHours.toFixed(0) + 'h'" ></app-info-box1> </div>
      </div>

     <!-- Section Graphiques (visible si pas d'erreur) -->
     <ng-container *ngIf="!errorMessage">
        <!-- Graphique Barres : Heures travaillées -->
        <div class="row clearfix">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <mat-card>
              <mat-card-header class="header-style">
                <mat-card-title>{{ timeEntryChartOptions?.title?.text || 'Suivi du Temps Travaillé' }}</mat-card-title>
                <mat-button-toggle-group #timeFilterGroup="matButtonToggleGroup" [(ngModel)]="selectedTimeFilter" (ngModelChange)="updateTimeFilter($event)" aria-label="Filtre de Temps">
                  <mat-button-toggle value="day">Jour</mat-button-toggle> <mat-button-toggle value="week">Semaine</mat-button-toggle> <mat-button-toggle value="month">Mois</mat-button-toggle> <mat-button-toggle value="year">Année</mat-button-toggle>
                </mat-button-toggle-group>
              </mat-card-header>
              <mat-card-content>
                 <div *ngIf="showTimeEntryChart; else noTimeData">
                     <apx-chart #timeEntryChart [series]="timeEntryChartOptions.series!" [chart]="timeEntryChartOptions.chart!" [xaxis]="timeEntryChartOptions.xaxis!" [yaxis]="timeEntryChartOptions.yaxis!" [dataLabels]="timeEntryChartOptions.dataLabels!" [stroke]="timeEntryChartOptions.stroke!" [colors]="timeEntryChartOptions.colors!" [tooltip]="timeEntryChartOptions.tooltip!" [legend]="timeEntryChartOptions.legend!" [grid]="timeEntryChartOptions.grid!" [title]="timeEntryChartOptions.title!" [fill]="timeEntryChartOptions.fill!" [plotOptions]="timeEntryChartOptions.plotOptions!" [responsive]="timeEntryChartOptions.responsive!">
                     </apx-chart>
                 </div>
                 <ng-template #noTimeData> <div class="no-data-message">Aucune donnée de pointage à afficher pour la période.</div> </ng-template>
              </mat-card-content>
            </mat-card>
          </div>
        </div>

        <!-- Graphiques Circulaires -->
        <div class="row clearfix">
          <!-- Types de Congés -->
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
            <mat-card>
              <mat-card-header> <mat-card-title>{{ leaveTypePieOptions?.title?.text || 'Types de Congés' }}</mat-card-title> </mat-card-header>
              <mat-card-content>
                 <div *ngIf="showLeaveTypePie; else noLeaveData">
                    <apx-chart [series]="leaveTypePieOptions.series!" [chart]="leaveTypePieOptions.chart!" [labels]="leaveTypePieOptions.labels!" [colors]="leaveTypePieOptions.colors!" [responsive]="leaveTypePieOptions.responsive!" [dataLabels]="leaveTypePieOptions.dataLabels!" [legend]="leaveTypePieOptions.legend!" [tooltip]="leaveTypePieOptions.tooltip!" class="apex-pie-center"></apx-chart>
                 </div>
                 <ng-template #noLeaveData> <div class="no-data-message">Aucune donnée de congé disponible.</div> </ng-template>
              </mat-card-content>
            </mat-card>
          </div>
          <!-- Départements -->
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
            <mat-card>
              <mat-card-header> <mat-card-title>{{ departmentPieOptions?.title?.text || 'Répartition par Département'}}</mat-card-title> </mat-card-header>
              <mat-card-content>
                  <div *ngIf="showDepartmentPie; else noDeptData">
                      <apx-chart [series]="departmentPieOptions.series!" [chart]="departmentPieOptions.chart!" [labels]="departmentPieOptions.labels!" [colors]="departmentPieOptions.colors!" [responsive]="departmentPieOptions.responsive!" [dataLabels]="departmentPieOptions.dataLabels!" [legend]="departmentPieOptions.legend!" [tooltip]="departmentPieOptions.tooltip!" class="apex-pie-center"></apx-chart>
                  </div>
                  <ng-template #noDeptData> <div class="no-data-message">Aucune donnée de département à afficher.</div> </ng-template>
                </mat-card-content>
            </mat-card>
          </div>
          <!-- Postes -->
          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
            <mat-card>
              <mat-card-header> <mat-card-title>{{ jobPositionPieOptions?.title?.text || 'Répartition par Poste' }}</mat-card-title> </mat-card-header>
              <mat-card-content>
                 <!-- Utilise le booléen showJobPositionPie -->
                 <div *ngIf="showJobPositionPie; else noJobData">
                    <apx-chart [series]="jobPositionPieOptions.series!" [chart]="jobPositionPieOptions.chart!" [labels]="jobPositionPieOptions.labels!" [colors]="jobPositionPieOptions.colors!" [responsive]="jobPositionPieOptions.responsive!" [dataLabels]="jobPositionPieOptions.dataLabels!" [legend]="jobPositionPieOptions.legend!" [tooltip]="jobPositionPieOptions.tooltip!" class="apex-pie-center"></apx-chart>
                 </div>
                 <ng-template #noJobData> <div class="no-data-message">Aucune donnée de poste disponible.</div> </ng-template>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </ng-container> <!-- Fin *ngIf="!errorMessage" -->

       <!-- SUPPRESSION DES SECTIONS OBSOLÈTES -->
       <!-- Pas de Recent Comments, Progress Table, Earning Source, ou Table Card -->

    </div> <!-- Fin de *ngIf="!isLoading" -->
  </div>
</section>