<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Dashboard'" [items]="['Home']" [active_item]="'Dashboard'">
      </app-breadcrumb>
    </div>
 

    <!-- Widgets -->
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="info-box7 bg-c-purple order-info-box7">
          <div class="info-box7-block">
            <h6 class="m-b-20 font-b-500">New Tickets</h6>
            <h4 class="text-end"><span class="float-start">23</span><i class="fas fa-ticket-alt"></i></h4>
            <p class="m-b-0">18% Higher Then Last Month</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="info-box7 bg-c-green order-info-box7">
          <div class="info-box7-block">
            <h6 class="m-b-20 font-b-500">Ticket Resolved</h6>
            <h4 class="text-end"><span class="float-start">20</span><i class="far fa-check-circle"></i></h4>
            <p class="m-b-0">21% Higher Then Last Month</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="info-box7 bg-c-orange order-info-box7">
          <div class="info-box7-block">
            <h6 class="m-b-20 font-b-500">Project Assigned</h6>
            <h4 class="text-end"><span class="float-start">13</span><i class="fas fa-briefcase"></i></h4>
            <p class="m-b-0">37% Higher Then Last Month</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="info-box7 bg-c-blue order-info-box7">
          <div class="info-box7-block">
            <h6 class="m-b-20">Available Leaves</h6>
            <h4 class="text-end"><span class="float-start">34</span><i class="fas fa-umbrella-beach"></i></h4>
            <p class="m-b-0">10% Higher Then Last Month</p>
          </div>
        </div>
      </div>
    </div>
    <!-- #END# Widgets -->
    <div class="row">
      <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
        <mat-card>
          <mat-card-header class="header-style">
            <mat-card-title>Weekly Working Hours</mat-card-title>
            <a mat-button color="primary" href="#" (click)="$event.preventDefault();">View All</a>
          </mat-card-header>
          <mat-card-content>
            <ng-scrollbar style="height: 400px" visibility="hover">
              <apx-chart [series]="barChartOptions.series!" [chart]="barChartOptions.chart!"
                [dataLabels]="barChartOptions.dataLabels!" [plotOptions]="barChartOptions.plotOptions!"
                [responsive]="barChartOptions.responsive!" [xaxis]="barChartOptions.xaxis!"
                [grid]="barChartOptions.grid!" [legend]="barChartOptions.legend!" [colors]="barChartOptions.colors!"
                [tooltip]="barChartOptions.tooltip!" [fill]="barChartOptions.fill!">
              </apx-chart>
            </ng-scrollbar>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <mat-card>
          <mat-card-header class="header-style">
            <mat-card-title>Running Project Review</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <ng-scrollbar style="height: 400px" visibility="hover">
              <apx-chart [series]="radialChartOptions.radialseries!" [chart]="radialChartOptions.chart!"
                [plotOptions]="radialChartOptions.plotOptions!" [labels]="radialChartOptions.labels!"></apx-chart>
              <div class="text-center p-t-20">
                <div class="chart-note">
                  <span class="dot bg-orange"></span>
                  <span>Project 1</span>
                </div>
                <div class="chart-note">
                  <span class="dot bg-indigo"></span>
                  <span>Project 2</span>
                </div>
                <div class="chart-note msr-0">
                  <span class="dot bg-green"></span>
                  <span>Project 3</span>
                </div>
              </div>
              <div class="text-center p-t-20">
                <button mat-stroked-button color="primary">More Details</button>
              </div>
            </ng-scrollbar>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <mat-card>
          <mat-card-header class="header-style">
            <mat-card-title>My Team</mat-card-title>
            <a mat-button color="primary" href="#" (click)="$event.preventDefault();">View All</a>
          </mat-card-header>
          <mat-card-content>
            <ng-scrollbar style="height: 400px" visibility="hover">
              <app-emp-status></app-emp-status>
            </ng-scrollbar>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <mat-card>
          <mat-card-header class="header-style">
            <mat-card-title>My Task</mat-card-title>
            <a mat-button color="primary" href="#" (click)="$event.preventDefault();">View All</a>
          </mat-card-header>
          <mat-card-content>
            <ng-scrollbar style="height: 400px" visibility="hover">
              <app-table-card [dataSource]="myTaskData" [columnDefinitions]="myTaskColumns"></app-table-card>
            </ng-scrollbar>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <mat-card>
          <mat-card-header class="header-style">
            <mat-card-title>Todo List</mat-card-title>
            <a mat-button color="primary" href="#" (click)="$event.preventDefault();">View All</a>
          </mat-card-header>
          <mat-card-content>
            <ng-scrollbar style="height: 400px" visibility="hover">
              <app-todo-widget [todos]="tasks" (todoToggled)="onTodoToggled($event)"
                (todosUpdated)="onTodosUpdated($event)">
              </app-todo-widget>
            </ng-scrollbar>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <mat-card>
          <mat-card-header class="header-style">
            <mat-card-title>Ticket Status</mat-card-title>
            <a mat-button color="primary" href="#" (click)="$event.preventDefault();">View All</a>
          </mat-card-header>
          <mat-card-content>
            <ng-scrollbar style="height: 400px" visibility="hover">
              <apx-chart [series]="gaugeChartOptions.series2!" [chart]="gaugeChartOptions.chart!"
                [plotOptions]="gaugeChartOptions.plotOptions!" [labels]="gaugeChartOptions.labels!"
                [fill]="gaugeChartOptions.fill!" [stroke]="gaugeChartOptions.stroke!"></apx-chart>
              <div class="m-t-40 mb-2">
                <div class="row text-center">
                  <div class="col-4 border-right">
                    <h5 class="m-b-0">67%</h5>
                    <span class="font-12 text-muted">New Ticket</span>
                  </div>
                  <div class="col-4 border-right">
                    <h5 class="m-b-0">33%</h5>
                    <span class="font-12 text-muted">Repeat Ticket</span>
                  </div>
                  <div class="col-4">
                    <h5 class="m-b-0">1 Day</h5>
                    <span class="font-12 text-muted">Duration</span>
                  </div>
                </div>
              </div>
            </ng-scrollbar>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <mat-card>
          <mat-card-header class="header-style">
            <mat-card-title>Ticket Resolved</mat-card-title>
            <a mat-button color="primary" href="#" (click)="$event.preventDefault();">View All</a>
          </mat-card-header>
          <mat-card-content>
            <ng-scrollbar style="height: 400px" visibility="hover">
              <apx-chart [series]="stackBarChart.series!" [chart]="stackBarChart.chart!"
                [dataLabels]="stackBarChart.dataLabels!" [plotOptions]="stackBarChart.plotOptions!"
                [grid]="stackBarChart.grid!" [grid]="stackBarChart.grid!" [responsive]="stackBarChart.responsive!"
                [xaxis]="stackBarChart.xaxis!" [legend]="stackBarChart.legend!"
                [fill]="stackBarChart.fill!"></apx-chart>
              <div class="row text-center ml-0 msr-0 pb-3">
                <div class="col-6 border-right">
                  <div class="h5 fw-bold mb-0">30%</div><span class="small text-gray">Last week</span>
                </div>
                <div class="col-6">
                  <div class="h5 fw-bold mb-0">70%</div><span class="small text-gray">Last month</span>
                </div>
              </div>
            </ng-scrollbar>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</section>