<h3 mat-dialog-title>Are you sure?</h3>
<div mat-dialog-content>
  <ul class="clearfix">
    <li>
      <p><span class="font-weight-bold"> Estimate ID: </span>{{data.estimateId}}</p>
    </li>
    <li>
      <p><span class="font-weight-bold"> Client Name: </span>{{ data.clientName }}</p>
    </li>
    <li>
      <p>
        <span class="font-weight-bold">Status: </span>{{data.status}}
      </p>
    </li>
  </ul>
</div>
<div mat-dialog-actions>
  <button mat-flat-button class="formCancelBtn" [mat-dialog-close]="1" (click)="confirmDelete()">
    Delete
  </button>
  <button mat-flat-button mat-dialog-close color="accent" tabindex="-1">Cancel</button>
</div>