<div class="addContainer">
  <div class="modalHeader">
    <div class="avatarDetails">
      <label class="hoverable">
        <img src="assets/images/user/user1.jpg" alt="avatar">
      </label>
      <div class="modalTitle">{{ dialogTitle }}</div>
    </div>
    <button mat-icon-button mat-dialog-close class="modal-close-button" aria-label="Close dialog" type="button">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div mat-dialog-content>
    <form class="trainers-form m-4" [formGroup]="trainersForm" (ngSubmit)="submit()">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Topic</mat-label>
            <input matInput formControlName="topic" />
            <mat-error *ngIf="trainersForm.get('topic')?.hasError('required')">Topic is required</mat-error>
            <mat-error *ngIf="trainersForm.get('topic')?.hasError('maxlength')">Max 100 characters</mat-error>
          </mat-form-field>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Training Type</mat-label>
            <mat-select formControlName="trainingType">
              <mat-option *ngFor="let type of trainingTypes" [value]="type">{{ type }}</mat-option>
            </mat-select>
            <mat-error *ngIf="trainersForm.get('trainingType')?.hasError('required')">Training type is required</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Start Date</mat-label>
            <input matInput [matDatepicker]="startPicker" formControlName="startDate" />
            <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
            <mat-datepicker #startPicker></mat-datepicker>
            <mat-error *ngIf="trainersForm.get('startDate')?.hasError('required')">Start date is required</mat-error>
          </mat-form-field>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>End Date</mat-label>
            <input matInput [matDatepicker]="endPicker" formControlName="endDate" />
            <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
            <mat-datepicker #endPicker></mat-datepicker>
            <mat-error *ngIf="trainersForm.get('endDate')?.hasError('required')">End date is required</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-12 text-end">
          <button mat-flat-button color="primary" type="submit" [disabled]="!trainersForm.valid">
            {{ action === 'edit' ? 'Update' : 'Add' }}
          </button>
          <button mat-flat-button mat-dialog-close class="formCancelBtn" tabindex="-1">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
