<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Dashboard'" [items]="['Home']" [active_item]="'Dashboard'"></app-breadcrumb>
    </div>
    <!-- Widgets -->
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="body">
            <div class="row align-items-center">
              <div class="col-md-4">
                <img src="assets/images/pages/welcome.png" alt="" class="w-100">
              </div>
              <div class="col-md-8">
                <h4 class="font-18 font-b-500 mb-2">
                  Welcome back <div class="weight-600 font-25 col-blue pt-1">Cara Stevens!</div>
                </h4>
                <p class="font-16 max-width-600">We would like to take this opportunity to welcome you to our practice
                  and to thank you
                  for choosing our company. Nam quis ligula est. Nunc sed risus non turpis tristique tempor. Ut
                  sollicitudin faucibus magna nec gravida..</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #END# Widgets -->
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12">
        <app-statistic-card2 title="Running Projects" value="70" description="10% Higher Then Last Month"
          img="assets/images/pages/img1.png" arrowIcon="trending_up">
        </app-statistic-card2>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <app-statistic-card2 title="Active Tickets" value="650" description="07% Less Then Last Month"
          img="assets/images/pages/img2.png" arrowIcon="trending_down">
        </app-statistic-card2>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <app-statistic-card2 title="Assigned Employee" value="885" description="12% Higher Then
        Last Month" img="assets/images/pages/img3.png" arrowIcon="trending_up">
        </app-statistic-card2>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <app-statistic-card2 title="Total Payments" value="$9,456" description="22% Less Then
        Last
        Month" img="assets/images/pages/img4.png" arrowIcon="trending_down">
        </app-statistic-card2>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Project Hourly Work</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="float-start">
              <h6>My Shop App <span class="text-muted font-12">(Android)</span></h6>
            </div>
            <div class="mb-5">
              <apx-chart [series]="restRateChartOptions.series!" [chart]="restRateChartOptions.chart!"
                [xaxis]="restRateChartOptions.xaxis!" [stroke]="restRateChartOptions.stroke!"
                [colors]="restRateChartOptions.colors!" [dataLabels]="restRateChartOptions.dataLabels!"
                [legend]="restRateChartOptions.legend!" [markers]="restRateChartOptions.markers!"
                [grid]="restRateChartOptions.grid!" [yaxis]="restRateChartOptions.yaxis!"
                [tooltip]="restRateChartOptions.tooltip!" [title]="restRateChartOptions.title!"></apx-chart>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Project Hourly Work</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="float-start">
              <h6>ERP System <span class="text-muted font-12">(Java)</span></h6>
            </div>
            <div class="mb-5">
              <apx-chart [series]="performanceRateChartOptions.series!" [chart]="performanceRateChartOptions.chart!"
                [xaxis]="performanceRateChartOptions.xaxis!" [stroke]="performanceRateChartOptions.stroke!"
                [colors]="performanceRateChartOptions.colors!" [dataLabels]="performanceRateChartOptions.dataLabels!"
                [legend]="performanceRateChartOptions.legend!" [markers]="performanceRateChartOptions.markers!"
                [grid]="performanceRateChartOptions.grid!" [yaxis]="performanceRateChartOptions.yaxis!"
                [tooltip]="performanceRateChartOptions.tooltip!" [title]="performanceRateChartOptions.title!">
              </apx-chart>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Project Hours details</h2>
          </div>
          <div class="body">
            <ng-scrollbar style="height: 440px" visibility="hover">
              <app-project-hours></app-project-hours>
            </ng-scrollbar>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <mat-card>
          <mat-card-header class="header-style">
            <mat-card-title>Invoices</mat-card-title>
            <a mat-button color="primary" href="#" (click)="$event.preventDefault();">View All</a>
          </mat-card-header>
          <mat-card-content>
            <ng-scrollbar style="height: 400px" visibility="hover">
              <app-table-card [dataSource]="invoiceData"
                [columnDefinitions]="invoiceColumnDefinitions"></app-table-card>
            </ng-scrollbar>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <mat-card>
          <mat-card-header class="header-style">
            <mat-card-title> Customer Review</mat-card-title>
            <a mat-button color="primary" href="#" (click)="$event.preventDefault();">View All</a>
          </mat-card-header>
          <mat-card-content>
            <ng-scrollbar style="height: 400px" visibility="hover">
              <app-review-widget [reviews]="reviewList"></app-review-widget>
            </ng-scrollbar>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</section>