<section class="content">
  <div class="content-block">
    <div class="block-header">
      <app-breadcrumb [title]="'Add Payments'" [items]="['Accounts']" [active_item]="'Add Payments'">
      </app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2><strong>Add Payments</strong></h2>
          </div>
          <div class="body">
            <form class="m-4" [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Bill No</mat-label>
                    <input matInput formControlName="payment_id" required>
                    @if (paymentForm.get('payment_id')?.hasError('required')) {
                    <mat-error>
                      Bill Number is required
                    </mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Client Name</mat-label>
                    <input matInput formControlName="client_name" required>
                    @if (paymentForm.get('client_name')?.hasError('required')) {
                    <mat-error>
                      Client Name is required
                    </mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Payment Date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="payment_date" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    @if (paymentForm.get('payment_date')?.hasError('required')) {
                    <mat-error>
                      Please select a date
                    </mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Payment Amount</mat-label>
                    <input matInput formControlName="payment_amount" required>
                    @if (paymentForm.get('payment_amount')?.hasError('required')) {
                    <mat-error>
                      Payment Amount is required
                    </mat-error>
                    }
                    @if (paymentForm.get('payment_amount')?.hasError('pattern')) {
                    <mat-error>
                      Must be a valid amount
                    </mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Payment Method</mat-label>
                    <mat-select formControlName="payment_method" required>
                      <mat-option [value]="'Cash'">Cash</mat-option>
                      <mat-option [value]="'Cheque'">Cheque</mat-option>
                      <mat-option [value]="'Credit Card'">Credit Card</mat-option>
                      <mat-option [value]="'Debit Card'">Debit Card</mat-option>
                      <mat-option [value]="'Net Banking'">Net Banking</mat-option>
                      <mat-option [value]="'Insurance'">Insurance</mat-option>
                    </mat-select>
                    @if (paymentForm.get('payment_method')?.hasError('required')) {
                    <mat-error>
                      Payment Method is required
                    </mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Transaction ID</mat-label>
                    <input matInput formControlName="transaction_id">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Payment Status</mat-label>
                    <mat-select formControlName="payment_status" required>
                      <mat-option [value]="'Complete'">Complete</mat-option>
                      <mat-option [value]="'Pending'">Pending</mat-option>
                      <mat-option [value]="'Partial'">Partial</mat-option>
                    </mat-select>
                    @if (paymentForm.get('payment_status')?.hasError('required')) {
                    <mat-error>
                      Payment Status is required
                    </mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Currency</mat-label>
                    <input matInput formControlName="currency" required>
                    @if (paymentForm.get('currency')?.hasError('required')) {
                    <mat-error>
                      Currency is required
                    </mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="description"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <button class="btn-space" mat-flat-button color="primary">Submit</button>
                  <button type="button" mat-flat-button class="formCancelBtn">Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>