<div class="addContainer">
  @if (isDetails) {
  <div class="contact-details">
    <div class="modalHeader">
      <div class="avatarDetails">
        <div class="modalTitle">
          Attendance Details
        </div>
      </div>
      <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div mat-dialog-content>
      <mat-card-content>
        <div class="contact-details-field m-b-30" matTooltip="Attendance Date" [matTooltipPosition]="'above'">
          <i class="material-icons-outlined color-icon">event_note</i>
          <div class="contact-detail-info"> {{attendances.date | date: 'MMMM d, yyyy'}}
          </div>
        </div>
        <div class="contact-details-field m-b-30" matTooltip="Check-in" [matTooltipPosition]="'above'">
          <i class="material-icons-outlined color-icon">schedule</i>
          <div class="contact-detail-info"> {{attendances.check_in}}
          </div>
        </div>
        <div class="contact-details-field m-b-30" matTooltip="Break" [matTooltipPosition]="'above'">
          <i class="material-icons-outlined color-icon">free_breakfast</i>
          <div class="contact-detail-info"> {{attendances.break}}
          </div>
        </div>
        <div class="contact-details-field m-b-30" matTooltip="Check-out" [matTooltipPosition]="'above'">
          <i class="material-icons-outlined color-icon">schedule</i>
          <div class="contact-detail-info"> {{attendances.check_out}}
          </div>
        </div>
        <div class="contact-details-field m-b-30" matTooltip="Status" [matTooltipPosition]="'above'">
          <i class="material-icons-outlined color-icon">verified</i>
          <div class="contact-detail-info"> {{attendances.status}}
          </div>
        </div>
        <div class="contact-details-field" matTooltip="Details" [matTooltipPosition]="'above'">
          <i class="material-icons-outlined color-icon">article</i>
          <div class="contact-detail-info">{{attendances.details}}
          </div>
        </div>
      </mat-card-content>
    </div>
  </div>
  }
</div>